---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="grid h-screen place-content-center px-4">
		<a href="/" class="uppercase tracking-widest text-gray-500 text-4xl">404 | Not Found</a>
	</div>
</Layout>
