---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<input type="number" id="texto" class="bg-slate-300" min="0" max="10"/>
		<button id="enviar">enviar</button>
	</main>
</Layout>
