---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Adivina el numero secreto entre 0 y 10</h1>
		<label for="game">
			<input type="number" id="guess" min="0" max="10">
	
			<input type="button" value="Guess!" onclick="checkGuess()">
		</label>
	</main>
</Layout>
