---
import Cart from "../components/Cart.astro"
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
const textOne ="En este juego tienes que escoger un numero random, y si elijes el mismo numero que la PC el cual es aleatorio, Ganas!!!"
---

<Layout title="ðŸ Home">
    <Header/>
    <main class="flex size-full mt-10 w-screen  justify-center font-bold text-gray-100 text-center">
        <section class=" flex justify-center mt-32">
            <Cart srcA="/juego" src="https://i.postimg.cc/7hXmrD0v/one.png" alt="img juego 0-10" p1="Juego 0-10" p2={textOne}/>             
        </section>
    </main>
</Layout>
<style>
    section{
        display: grid;
        width: 100%;
        gap: 3%;
        grid-template-columns: repeat(auto-fill,30%);
        grid-template-rows: repeat(4, 350px);
    }

    @media (max-width: 1024px) {
    section {
        display: grid;
        width: 100%;
        gap: 3%;
        grid-template-columns: repeat(auto-fill,45%);
        grid-template-rows: repeat(4, 350px);
    }
    }

    @media (max-width: 520px) {
    section {
        display: grid;
        width: 100%;
        gap: 3%;
        grid-template-columns: repeat(auto-fill,100%);
        grid-template-rows: repeat(auto-full, 100%);
        grid-template-rows: repeat(4, 450px);
    }
    }
</style>